@media only screen and (max-width: 1537px) {
    .full-width-image {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .text-overlay {
        position: absolute;
        top: 27%;
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .overlay-text {
        color: white;
        font-size: 3em;
    }

    .overlay-tect {
        color: white;
        font-size: 1.2em;
    }

    .boxes-container {
        position: absolute;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 3rem;
        margin-top: 10%;
        margin-left: 15%;
    }

    .box-image {
        width: 50%;
        margin: 1.5rem;
        margin-left: 25%;
        height: 50px;
    }


    .box {
        background-color: #f2f2f2;
        border-radius: 5px;
        flex-basis: calc(25% - 1rem);
        box-sizing: border-box;
        padding: 2rem;
        margin: 1.5rem;
        border: 2px solid darkgray;
        border-radius: 20px;
    }

    .matches {
        align-content: end;
        background-color: darkgray;
        height: 25%;
    }

    .ploegen {
        align-content: end;
        background-color: darkgray;
        height: 25%;
    }

    .stadia {
        align-content: end;
        background-color: darkgray;
        height: 25%;
    }
}
@media only screen and (min-width: 1538px) {
    .full-width-image {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .text-overlay {
        position: absolute;
        top: 27%;
        left: 25%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .overlay-text {
        color: white;
        font-size: 3em;
    }

    .overlay-tect {
        color: white;
        font-size: 1.2em;
    }

    .boxes-container {
        position: absolute;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 3rem;
        margin-top: 10%;
    }

    .box-image {
        width: 50%;
        margin: 1.5rem;
        margin-left: 15%;
    }


    .box {
        background-color: #f2f2f2;
        border-radius: 5px;
        flex-basis: calc(25% - 1rem);
        box-sizing: border-box;
        padding: 2rem;
        margin: 1.5rem;
        border: 2px solid darkgray;
        border-radius: 20px;
    }

        .box h2 {
            margin-top: 0;
        }

    .matches {
        align-content: end;
        background-color: darkgray;
        height: 25%;
    }

    .ploegen {
        align-content: end;
        background-color: darkgray;
        height: 25%;
    }

    .stadia {
        align-content: end;
        background-color: darkgray;
        height: 25%;
    }
}