#submitBTN {
    display: none;
}

#matchInfoBar {
    width: 100%;
    background-color: lightgray;
    border: none;
}

#tshirt-logo {
    max-height: 100px;
    max-width: 100px;
}

#ball-logo {
    max-height: 35px;
    max-width: 35px;
}

.stadium-match-ticket-content {
    display: flex;
    align-items: center;
}

.centered-text {
    text-align:center;
}


.centered-horizontaly {
    justify-content: center;
}

div .stadium-match-ticket-content #stadiumCOL {
    display: flex;
    flex-direction: column;
    justify-content:center;
    column-gap:1px;
}

#stadiumCOL > * {
    margin: 0;
    padding: 0;
}

#black-text {
    color: black;
}

a.buytTickets {
    color: #fff;
    background-color: #0d6efd !important;
    border-color: #0d6efd;
    padding: .5rem 1rem;
    font-size: 1.10rem;
    border-radius: .3rem;
}