@model TicketVerkoop.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/ShoppingCartStyles.css" />
@{
    decimal total = 0;
}
<h3 class="centered">Shopping kaart</h3>

@if (Model == null || (Model.Tickets == null && Model.Abonnementen == null))
{
    <p>Your shopping cart is empty.</p>
}
else
{   <div>
        @if (Model.Tickets != null && Model.Tickets.Count > 0)
        {
            <br />
            <div class="row">
                <h4 class="centered">Tickets in je kaart</h4>
                <br />
                @foreach (var item in Model.Tickets)
                {
                    @await Html.PartialAsync("_TicketsPartialView", item)
                }
            </div>
        }

        @if (Model.Abonnementen != null && Model.Abonnementen.Count > 0)
        {
            <br />
            <br />
            <div class="row">
                <h4 class="centered">Abonnementen in je kaart</h4>
                <br />
                @foreach (var item in Model.Abonnementen)
                {
                    @await Html.PartialAsync("_AbonnementenPartialView", item)
                }
            </div>
        }
        <br />
        <p style="text-align: center; font-weight: bold;" id="totalePrijs">Total: @Model.TotalPrijs Eur</p>
    </div>
}
<br />
@if (Model != null)
{
    <form asp-controller="ShoppingCart" asp-action="Checkout" asp-method="post">
        <input type="hidden" id="totalPrijs" name="totalPrijs" value="@total" />
        <button type="submit" class="btn-lg btn-primary">Checkout</button>
    </form>
}

<a asp-controller="Kalender" asp-action="Index" class="btn-lg btn-primary">Back to matches</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
