
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/HomePage.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div>
        <img src="~/images/header_image.jpg" alt="Alternate Text" class="full-width-image" />
        <div class="text-overlay">
            <h1 class="overlay-text">Welkom in onze voetbalwereld!</h1>
            <p class="overlay-tect">Met passie onderhouden door Justas Valutis en Robin Vandenbroucke</p>
            <p class="overlay-tect">studenten van Hogeschool VIVES Kortrijk.</p>
        </div>
    </div>
    <div class="boxes-container">
        <div class="box matches">
            <img src="~/images/match.png" alt="Alternate Text" class="box-image" />
            <h2>Matchen</h2>
            <p>
                Bekijk hier alle matchen van de Jupiler Pro League.
            </p>
            <button class="btn btn-primary">Bekijk mathen</button>
        </div>
        <div class="box ploegen">
            <img src="~/images/ploeg.png" alt="Alternate Text" class="box-image" />
            <h2>Ploegen</h2>
            <p>
                Bekijk hier alle ploegen van de Jupiler Pro League
            </p>
            <button class="btn btn-primary">Bekijk ploegen</button>
        </div>
        <div class="box stadia">
            <img src="~/images/stadia.png" alt="Alternate Text" class="box-image" />
            <h2>Stadia</h2>
            <p>
                Bekijk hier alle stadiums van de Jupiler Pro League
            </p>
            <button class="btn btn-primary">Bekijk stadia</button>
        </div>
    </div>
</body>
</html>

