@model IEnumerable<TicketVerkoop.ViewModels.MatchVM>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/KalenderStyles.css">

<h1>Kalender</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" class="row">
@*             ---- List Stadium ----- *@
            <div class="form-group col-md-3">
                <p>
                    <label for="StadiumId" class="control-label">Filter op een Stadium</label>
                </p>
                <p>
                    <select name="StadiumId" class="Id"
                            asp-items="@ViewBag.lstStadiums">
                        <option>Kies een stadium</option>
                    </select>
                </p>
            </div>
@*             ---- List Stadium ----- *@
            <div class="form-group col-md-3">
                <p>
                    <label for="PloegId" class="control-label">Filter op een Ploegen</label>
                </p>
                <p>
                    <select name="PloegId" class="Id"
                            asp-items="@ViewBag.lstPloegen">
                        <option>Kies een ploeg</option>
                    </select>
                </p>
            </div>

            <div class="form-group" id="submitBTN">
                <button type="submit" value="Search" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>

    @if (Model != null)
    {
        <div class="row">
            @foreach (var item in Model)
                {
                    @await Html.PartialAsync("_MatchPartialView", item)
                }
        </div>
    }
    else
    {
        <p>No data found</p>
    }

    @section scripts
    {
        <script src="~/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script>
            $(".Id").on("change", () => 
            {
                $("Form").trigger("submit");
            });
        </script>
    }

